@import "./../../../../styles/variables";

:host {
  display: flex;
}

.plans {
  position: relative;
  height: 100%;
  margin-left: .5rem;
}

button {
  position: fixed;
  bottom: 40px;
  right: 20px;
}
