$size-great: 3rem;
$size-big: 1.5rem;
$size-regular: 1rem;
$size-small: .875rem;
$size-tiny: .625rem;

$primary: #ffca28;
$primary-light: #fffd61;
$primary-dark: #c79a00;
$accent: #1565c0;
$accent-light: #5e92f3;
$accent-dark: #003c8f;
$white: #ffffff;
