@import "./../../../../styles/variables";

:host {
  display: block;
}

footer {
  background-color: $accent-dark;
  color: $white;
  font-size: $size-tiny;
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
